# Dependencias
/node_modules
/vendor

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
*.log
storage/*.log

# Cache y compilados
/public/storage
/public/hot
/public/build
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDEs y otros
.idea
.vscode
.phpunit.result.cache

# Artefactos locales de Windows mal generados
/C*
/public/C*

# Bases de datos locales
/taskmanagerdb/
/tasksmanagerdb/
